<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{config('app.name', 'LSAPP')}}</title>
</head>

<body>
    <h1>WELCOME TO LARAVEL</h1>
    <p>THIS IS A LARAVEL TEST</p>
    <p><a class="btn btn-primary btn-lg" href="/login" role="button">Login</a> <a class="btn btn-success btn-lg"
            href="/register" role="button">Register</a> </p>






            <div class="jumbotron text-center">
                <h2>REGISTER</h2>
                <P>
                    <form action="">
                        <label for="email">E-mail:</label><br>
                        <input type="text" id="email" name="email"><br>
        
                        <label for="password">Password:</label><br>
                        <input type="text" id="password" name="password"><br>
        
                        <button class="btn btn-primary btn-lg" type="submit">Register</button>
                    </form>
                </P>
            </div>
            <p align="justify"></p>
            <img src="" alt="">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui dolore blanditiis sit quis ad reprehenderit totam sunt possimus voluptatibus beatae obcaecati, illum ratione, cupiditate quas est inventore, nemo dolorum. Totam!
            Fugiat, at magni quidem optio vero, inventore quasi incidunt sit corrupti debitis cum ut corporis doloribus velit a consectetur labore deserunt. Incidunt inventore cum in tempore error consequuntur quasi sed.
            Enim aut voluptates eius nam alias sit repellat corporis, odio sequi voluptatibus quibusdam atque explicabo hic? Eveniet officia maiores reiciendis repellat illum commodi sunt aperiam libero tempora, atque molestiae minus?
            Aperiam, a pariatur ipsa ipsum sint blanditiis magnam nulla. Nulla quasi sapiente, quibusdam quia reprehenderit iste inventore eius ut deserunt harum tempora sunt placeat exercitationem minima mollitia eaque minus quis.
            Fugit a cum iure minus illum pariatur alias asperiores voluptatibus, voluptatem illo sed magni nam qui deleniti unde cumque autem assumenda et consequuntur earum incidunt dicta est! Omnis, distinctio illum!
            Dolores aliquam ab excepturi dolorum neque dignissimos quas quidem delectus illum ratione. Commodi sit delectus illo aliquam ipsa doloremque quia mollitia sint asperiores corrupti nesciunt, magni earum aperiam sequi eum.
            Ipsa nostrum quos voluptates aut? Deserunt quod consequuntur dolorem deleniti et, ad eaque dignissimos in sunt adipisci id quasi consequatur minus nesciunt delectus, unde, fugiat hic sint obcaecati praesentium repellat!
            Unde voluptates distinctio aspernatur dolore labore fugit suscipit, debitis, consequatur dignissimos expedita ratione fuga, hic culpa provident? Adipisci nihil, suscipit quae eligendi libero vitae et consectetur, quibusdam obcaecati non nemo.
            Nostrum tempore eveniet delectus dolorem cum, voluptatibus quod veritatis nesciunt libero dignissimos in expedita doloremque ipsum ea autem, ullam magnam. Minus quos impedit ab porro, modi ipsum optio voluptatem fugiat.
            Voluptatibus nihil consequatur deserunt sed harum ipsum enim eveniet quia asperiores sunt modi neque rem vitae, ducimus veritatis, ea dolores quis, voluptatem animi veniam id. Numquam fugiat eaque molestiae eius.   

</body>

</html>